# Ignore everything in the current directory
/*

# But do NOT ignore the .gitignore file itself (optional but recommended)
!.gitignore

# Allow the following directories
!bspwm/
!sxhkd

bspwm/.bspwmrc.swp

!polybar
!yazi/
!feh/


!README.md
!.xinitrc
!.fehbg
!.bashrc
!.bash_profile